.debug {
  border: 1px solid red;
}

.is-family-serif {
  font-family: serif;
}

.is-full-width {
  width: 100%;
}

.is-full-height {
  height: 100%;
}

.js-img-fadeIn {
  opacity: 0;
  will-change: opacity;
}
