$borderRadius: 6px;
$boxShadow: 0 8px 15px rgba(0, 0, 0, 0.05);

.post-container {
  margin-top: 20px;
  background: #f7fbff;

  .post-item-card {
    min-height: 300px;
    //padding: 15px;
    margin-bottom: 15px;

    background: #fff;
    overflow: hidden;
    box-shadow: $boxShadow;
    border-radius: $borderRadius;

    .post-card-content {
      padding: 15px 15px 30px;

      .post-item-tag {
        margin-right: 5px;
        border-radius: 10px;

        font-weight: bold;
        color: darkorange;
        font-style: normal;

        background: transparent;
        border: 2px solid darkorange;
      }
      time {
        font-size: 14px;
        font-weight: bold;
      }
    }
  }

  .profile-info-container {
    height: 400px;
    background: #fff;
    box-shadow: $boxShadow;
    border-radius: $borderRadius;
  }
}
