$avatarSize: 150px;
$borderRadius: 6px;
$boxShadow: 0 8px 15px rgba(0, 0, 0, 0.05);

.post-container {
  margin-top: 20px;
  background: #f7fbff;

  .post-item-card {
    min-height: 300px;
    margin-bottom: 15px;

    background: #fff;
    overflow: hidden;
    box-shadow: $boxShadow;
    border-radius: $borderRadius;

    .post-card-content {
      padding: 15px 15px 30px;

      .post-item-tag {
        margin-right: 5px;
        border-radius: 10px;

        font-weight: bold;
        color: darkorange;
        font-style: normal;

        background: transparent;
        border: 2px solid darkorange;
      }
      time {
        font-size: 14px;
        font-weight: bold;
      }
    }
  }

  // common card
  .aside-card-container {
    padding: 15px;
  }

  // user info card
  .profile-info-container {
    background: #fff;
    min-height: 300px;
    box-shadow: $boxShadow;
    border-radius: $borderRadius;

    .avatar {
      position: relative;

      width: $avatarSize;
      height: $avatarSize;

      border-radius: 50%;
      border: 5px solid #fff;
      box-shadow: $boxShadow, inset 0 0 10px rgba(0, 0, 0, 0.05);
    }

    div.avatar:after {
      content: "\e62a";
      font-size: 80px;
      font-family: iconfont;

      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      transform: translate(-50%, -50%);
    }

    .user-name {
      margin: 15px 0 5px;
      text-align: center;
      font-weight: bold;
    }

    // user describe quote style
    blockquote:before {
      content: '“';
      margin-right: 5px;

      vertical-align: middle;
    }

    blockquote:after {
      content: '”';
      margin-left: 5px;
      vertical-align: bottom;
    }

    blockquote:before,
    blockquote:after {
      line-height: 0;
      font-size: 32px;
      font-family: sans-serif;
    }

    address {
      margin-top: 12px;
      font-style: normal;
    }

    .sns-container {
      overflow: auto;
      padding-top: 15px;
      margin: 30px -15px 0;
      border-top: 1.333px solid rgba(0, 0, 0, 0.05);

      i {
        color: #000;
        margin: 0 8px;
        font-size: 34px;
      }
    }
  }
}
