@import url("//at.alicdn.com/t/font_2266068_0fz09zmium7k.css");

html {
  overflow: hidden;
}

body {
  margin: 0;
  height: 100vh;
  overflow: auto;

  a {
    color: #4a4a4a;

    &:hover {
      color: #3273dc;
    }
  }

  .tag.post-item-tag {
    margin-right: 5px;

    font-weight: bold;
    color: darkorange;
    font-style: normal;

    border-radius: 10px;
    background: transparent;
    border: 2px solid darkorange;
  }

  > footer {
    margin: 0 30px;
    padding: 20px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);

    .sns-container .iconfont {
      margin: 0 5px;
      font-size: 30px;
    }
  }
}

.debug {
  border: 1px solid red;
}
