@import url("//at.alicdn.com/t/font_2266068_0fz09zmium7k.css");

html {
  overflow: hidden;
}

body {
  margin: 0;
  height: 100vh;
  overflow: auto;

  background: #fafbff;

  > footer {
    margin: 0 15px;
    padding: 20px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
}

.debug {
  border: 1px solid red;
}
