@import "./variable";

.post-page {
  .post-content {
    pre {
      padding: 5px;
      background: transparent;
      border-radius: $borderRadius;
      border: 1px solid rgba(0, 0, 0, 0.08);
    }
    img {
      display: block;
      margin: 0 auto;
      border-radius: $borderRadius;
      box-shadow: 0 0 15px rgba(0, 0, 0, .05);
    }
  }

  .toc {
    position: sticky;
    top: 60px;

    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
    height: calc(100vh - 100px);

    overflow: auto;
    list-style: none!important;
    border-left: 2px solid rgba(0, 0, 0, .05);

    ol {
      margin-top: 5px;
      margin-left: 15px;
      list-style: none!important;
    }
  }

  :target {
    padding-top: 60px;
    margin-top: -60px!important;
  }
}
