@import "./variable";

$lineColor: var(--border-line-color);

.post-page {
  .post-content {

    code {
      border-radius: 4px;
      background: var(--third-bg-color);
    }

    pre {
      padding: 0;
      background: transparent;

      code {
        padding: 15px;
        border: 1px solid $lineColor;
        background: var(--pre-code-bg-color);
      }
    }

    .hljs {
      color: var(--second-text-color);
    }

    img {
      display: block;
      margin: 0 auto;
      max-height: 500px;
      border-radius: $borderRadius;
      box-shadow: 0 0 15px rgba(0, 0, 0, .05);
    }

    a {
      color: $activeColor;
    }
  }

  .comment-container {
    border-top: 1px solid $lineColor;
  }

  .toc {
    position: sticky;
    top: 60px;

    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
    height: calc(100vh - 100px);

    overflow: auto;
    list-style: none!important;
    border-left: 1px solid $lineColor;

    &::-webkit-scrollbar {
      display: none;
    }

    ol {
      margin-top: 5px;
      margin-left: 15px;
      list-style: none!important;
    }

    .is-active {
      span {
        color: $activeColor!important;
      }
    }
  }

  :target {
    padding-top: 60px;
    margin-top: -60px!important;
  }
}
