.header-widget {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100vw;
  height: 40px;
  padding: 0 15px;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  a {
    margin: 0 8px;
  }
}
