@import "./variable";
$avatarSize: 180px;

.post-container {
  .post-item-card {
    margin-bottom: 30px;

    background: #fff;
    overflow: hidden;
    box-shadow: $boxShadow;
    border-radius: $borderRadius;

    // cover image
    img {
      display: block; // fix bottom white spacer
      width: 100%;
      object-fit: cover;
    }

    .post-card-content {
      time {
        font-size: 14px;
      }

      .read-more-btn {
        border-radius: $borderRadius;
      }
    }
  }

  .aside-card-container {
    padding: 10px;
    background: #fff;
    margin-bottom: 15px;
    box-shadow: $boxShadow;
    border-radius: $borderRadius;
  }
  .categories-widget,
  .archives-widget,
  .recent-widget,
  .tag-widget {
    h3 {
      font-weight: bold;
      margin-bottom: 15px;
    }

    .category-list .category-list-item,
    .archive-list .archive-list-item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-bottom: 5px;

      .category-list-count,
      .archive-list-count {
        padding: 0 12px;
        border-radius: 11px;
        background: whitesmoke;
      }
    }
  }
  .profile-widget {
    min-height: 300px;
    padding-bottom: 0;

    .avatar, .avatar-placeholder {
      position: relative;

      width: $avatarSize;
      height: $avatarSize;
      margin-top: 10px;

      border-radius: 50%;
      box-shadow: $boxShadow;
      border: 6px solid rgba(0, 0, 0, 0.01);
    }

    .avatar-placeholder:after {
      content: "\e62a";
      font-size: 80px;
      font-family: iconfont;

      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      transform: translate(-50%, -50%);
    }

    .user-name {
      font-size: 18px;
      font-weight: bold;

      margin: 15px 0 2px;
    }

    // user describe quote style
    blockquote:before {
      content: '“';
      margin-right: 5px;
      vertical-align: middle;
    }

    blockquote:after {
      content: '”';
      margin-left: 5px;
      vertical-align: bottom;
    }

    blockquote:before,
    blockquote:after {
      line-height: 0;
      font-size: 32px;
      color: #585858;
      font-family: sans-serif;
    }

    address {
      margin-top: 14px;
      font-style: normal;
    }

    .sns-container {
      overflow: auto;
      padding: 5px 0;
      margin-top: 15px;
      border-top: 1px solid rgba(0, 0, 0, 0.05);

      i {
        margin: 0 8px;
        font-size: 30px;
      }
    }
  }
  .recent-widget {
    ul li {
      margin-bottom: 15px;

      &:last-child {
        section {
          border-bottom: none;
        }
      }
    }
    img, .post-img-placeholder {
      width: 50px;
      height: 50px;
      margin-right: 5px;
      object-fit: cover;
      border-radius: $borderRadius;
    }

    section {
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);

      h4 {
        font-size: 14px;
        line-height: 20px;
        font-weight: bold;
      }

      time {
        font-size: 12px;
        font-weight: bold;
      }
    }
  }
  // turn page
  .paginator {
    .page-number,
    .extend {
      margin: 0 5px;
      padding: 2px 15px;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1);

      &.current {
        color: #fff;
        background: #515151;
      }
    }
  }
}
