.header-widget {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: space-between;

  overflow: hidden;

  width: 100vw;
  height: 42px;
  padding: 0 15px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background: var(--top-bar-bg-color);

  a {
    margin: 0 8px;
    font-weight: bold;

    //color: #2b2a2a;
    color: var(--primary-text-color);
  }

  h3 {
    font-weight: bold;
  }
}
