header.header-widget.is-flex-shrink-0
    section.is-hidden-mobile
        a(href= url_for("/"))= (theme.user.name || config.author) + "'s blog"
    h3
        block topic
    aside
        each url, label in theme.menu
            a(href= url_for(url))= label
