
- if (is_archive()) pageTitle = 'Archives'
- if (is_tag()) pageTitle = 'Tag: ' + page.tag
- if (is_category()) pageTitle = 'Category: ' + page.category
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- if (is_year()) pageTitle += ': ' + page.year
- var pageTitle = page.title || theme.user.name + "'s blog"

doctype html
html(lang=config.language)
  head
    meta(charset='UTF-8')
    title= pageTitle
    if theme.stylesheets !== undefined && theme.stylesheets.length > 0
      //- stylesheets list from _config.yml
      each url in theme.stylesheets
        link(rel='stylesheet', href= url_for(url))
    block link
    block style
  body.is-flex.is-flex-direction-column
    include ./header.pug
    main.is-flex-grow-2
      block content
    footer.is-flex.is-flex-direction-column.is-align-items-center.is-flex-shrink-0
      section.sns-container
        include ./sns.pug
      p
        span Copyright ©
        span= ' ' + config.author + ' ' + new Date().getFullYear()
      p Powered by Hexo
      div.is-flex.is-justify-content-center.is-align-items-center
        span Theme by
        a(href='//github.com/haojen') &nbspHaojen&nbsp
        div(style="margin-top: 8px;")
          a(class="github-button" href="https://github.com/haojen/hexo-theme-Claudia" data-icon="octicon-star" data-color-scheme="no-preference: light; light: light; dark: light;" data-show-count="true")
    if theme.scripts !== undefined && theme.scripts.length > 0
      //- scripts list from config.yml
      each url in theme.scripts
        script(src= url_for(url))
    script(async defer src="https://buttons.github.io/buttons.js")
    block script

