-
    function getPostCoverImg(post) {
        const coverImgElement = post.content.match(/<img.*?alt="\$cover".*?>/)

        if (!coverImgElement) return

        const coverImg = coverImgElement[0]
        const matchImg = coverImg.match(/<img[^>]+src="?([^"\s]+)".*?>/)
        if (matchImg) {
            return matchImg[1]
        }
    }
