main.aside-card-container.tag-widget
    h3 Tag
    section
        each tag in site.tags.toArray()
            a(href= url_for(`/tags/${tag.name}`))
                span.tag.post-item-tag(style="margin-bottom: 5px;")= tag.name
