main.aside-card-container.tag-widget(class= is_tag() && 'is-in-tag-page')
    h3= _p('tag')
    section
        each tag in site.tags.toArray()
            a(href= url_for(`/tags/${tag.name}`))
                span.tag.post-item-tag(style="margin-bottom: 5px;")= tag.name
