main.aside-card-container.tag-widget(class= is_friendlink && 'is-friendlink-page')
    h3= _p('friend link')
    section
        each url, text in theme.friendlinks
            a(href = url style="color: white")= text
            br
