<style>
    .content-box {
        min-height: 93vh;
        padding: 15px;
        background-color: rgba(255, 255, 255, .8);
    }
</style>
<%
    // 优先使用专用的about页面头像, 如果没有设置才是用主页的用户头像
    var avatar = 'http://o7bkkhiex.bkt.clouddn.com/discobolus-avatar.png' || 'http://o7bkkhiex.bkt.clouddn.com/avatar.png' || theme.user_intro_avatar || theme.user_avatar
%>
<div class="container">
    <div class="content-box full-width is-flex justify-center">
        <div class="columns">
            <div class="column is-5">
                <img class="avatar" src="<%- avatar %>">
            </div>
            <div class="column content">
                <h1 class="">
                    About
                    <br>
                    <%- theme.user_name || '' %>
                    <p class="contact"><%- theme.user_contact || ''%></p>
                </h1>
                <p><%- theme.user_introduction || ''%></p>
            </div>
        </div>
    </div>
</div>