extends widget/layout.pug

block topic
    span= `Archive · ${ page.year || 'all' }`

block content
    include widget/showcase.pug
        block sidebar
            include home/archives.pug
block script
    script(src='/js/addActiveLinkStyle.js')



