extends widget/layout.pug

block content
    include widget/showcase.pug
        block sidebar
            include widget/profile
            include widget/recent
            include widget/categories
            include widget/archives
            include widget/tag
