extends widget/layout.pug

block content
    include widget/showcase.pug
        block sidebar
            include home/profile
            include home/recent
            include home/categories
            include home/archives
