{% set categories = site.categories %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories - {{ config.title }}</title>
    <link rel="stylesheet" href="{{ url_for('/style/common/bulma.css') }}">
    <link rel="stylesheet" href="{{ url_for('/style/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('/style/common/helper.css') }}">
    <script src="{{ url_for("/js/common.js") }}"></script>
    <style>
      .category-list-link {
        margin-right: 2em;
      }
    </style>
  </head>
  <body>
    <article class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {{ list_categories(site.categories, { depth: 1 }) }}
        </div>
      </div>
    </article>
  </body>
</html>