<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/nav', null, {cache: !config.relative_link}) %>
  <div id="main-wrap" class="position-relative" style="margin-top: 55px;">
      <div class="main-inner-content">
          <%- body %>
      </div>
  </div>
  <%- partial('_partial/footer') %>
</body>
</html>