extends widget/layout.pug

block append link
  link(rel='stylesheet', href="/style/post.css")

block content
  main.post-page.section.content
    article.container.is-max-widescreen
      .columns
        .column.is-3
            != toc(page.content, {list_number: false})
        .column.is-9
            h1= page.title
            != page.content
  //#paginator!= paginator()
