<footer class="has-text-centered">
  <div class="container has-padding" style="border-top: 1px solid #f1f1f1; ">
    <div>
      <div>
        Theme by <a href="http://haojen.github.io/">Haojen Ma</a>
        <br>
        Copyright © <%= config.author || config.title %> <%= date(new Date(), 'YYYY') %>
        <br>
        <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
      </div>
    </div>
    <%- partial('_partial/after-footer') %>
  </div>
</footer>